<header class="header">
  <section>
    <div class="header-title">
      <p>
        Anais do Simpósio Latino Americano de Ciências de Alimentos
      </p>
      <p>
        Anais do Simpósio Latino Americano de Ciências de Alimentos
      </p>
      <p>ISSN: 1234-5678</p>
    </div>
    <div class="header-user-languge">
      <button class="language-button">
        <img src="../assets/world_2611734.png" alt="Language icon">
        <span>PT,BR</span>
        <img class="dropdown" src="../assets/dropdown.png" alt="Arrow down icon">
      </button>
      <div class="user-menu-wrapper">
        <div>
          <p>Bem vindo!</p>
          <p>alguem12@galoascience.com</p>
        </div>
        <div class="user-icon">
          <img src="../assets/image.png" alt="">
          <span class="notification-badge">2</span>
        </div>
      </div>
    </div>
  </section>
</header>