<div class="container-info-icon">
  <div class="container-icon">
    <button>
      <img src="../assets/download.png" alt="">
      <a href="#">Dowload</a>
    </button>
    <button>
      <img src="../assets/favoritar.png" alt="">
    </button>
    <button>
      <img src="../assets/doi.png" class="icon" alt="">
    </button>
  </div>
  <div class="container-quote">
    <p>COMO CITAR ESSE TRABALHO?</p>
  </div>
  <article class="details-wrapper">
    <div class="details-wrapper-title">
      <h3>Detalhes</h3>
    </div>
    <div class="details-content">
      <div class="poster-content">
        <p>
          Tipo de apresentação: <strong>Pôster</strong>
        </p>
      </div>
      <div class="eixo-content">
        <p>Eixo temático: <strong>Alimentação e saúde(AS)</strong></p>
      </div>
      <div class="keyword-content">
        <p>
          Palavras chaves: <strong>Alimentos, funcionais, alimentação escolar.</strong>
        </p>
      </div>
      <div></div>
      <div class="authors-content">
        <p><strong>Autores:</strong> <br>Galileo Galilei<span><sup>1</sup></span><br>
          Berta Lange de Morretes<span><sup>2</sup></span><br>
          Isaac Newton<span><sup>3</sup></span><br>
          Cesar Lattes<span><sup>1</sup></span><br>
          Stephen Hawking<span><sup>4</sup></span>
      </div>
      <div class="university-content">
        <p>
          <span><sup>1</sup></span>Universidade Estadual de Campinas <br>
          <span><sup>2</sup></span>Universidade de São Paulo <br>
          <span><sup>3</sup></span>Instituto Nacional de Pesquisas Espaciais <br>
          <span><sup>4</sup></span>Universidade Federal do Rio de Janeiro
        </p>

      </div>

    </div>

  </article>
</div>