<div class="summary">
  <div class="summary-title">
    <h3>Resumo</h3>
  </div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis mollitia, aperiam explicabo sit expedita
    consectetur autem amet voluptas, laudantium reiciendis tempora, incidunt excepturi? Neque eum dolor delectus
    laboriosam porro. Cupiditate... Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium commodi harum
    officiis suscipit est cumque obcaecati hic totam vero, sit aperiam, porro nisi voluptatum exercitationem odio ex
    illum cum quo?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus earum exercitationem dolores, unde rem facilis
    ullam explicabo necessitatibus ea, dolorem quos optio! A, cumque similique neque dolorem beatae sunt.
    Accusamus!...
    <span *ngIf="showMore">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat alias eligendi deserunt
      quae
      vitae veritatis, rem tenetur totam ducimus quo fugit aspernatur magnam accusamus nulla qui repellat repudiandae,
      ex facilis.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse consectetur porro in explicabo quasi numquam
      obcaecati aliquam a incidunt aspernatur perferendis delectus laborum sit sequi perspiciatis sint, exercitationem
      aperiam? Expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit laborum nostrum impedit
      similique.
      Repudiandae unde quas earum doloribus accusamus nobis explicabo minima nihil iusto iure. Eaque reiciendis
      doloremque saepe consectetur. Lorem ipsum dolor sit, amet consectetur adipisicing elit. At eveniet distinctio,
      ut
      consequuntur, excepturi maxime minima cum facere voluptatum laborum assumenda ullam aperiam rerum ipsam
      repellendus ea a placeat natus.
    </span>
    <button class="btn-show-more" (click)="toggleShowMore()">
      {{buttonText}}
    </button>

  </p>
</div>