<div class="container-title-video">
  <div class="container-title">
    <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
      Campinas/SP</h2>
  </div>
  <div class="container-video">
    <iframe width="100%" height="439px" src="https://www.youtube.com/embed/T3Y6RRSDm4o?si=Pcig0b4dA05aq5jX"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>